body {
    background-color: #1d3e81;
    color: #E8EFF0;
    text-align: center;
}
img {
    width: 50%;
}
a {
    color: #E8EFF0;
}

a.backButton {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 1;
    text-decoration: none;
}

@media print {
    body {
        background-color: white;
        text-align: center;
    }

    img {
        width: 100%;
    }

    h1,
    p {
        margin: 0;
    }

    h1 {
        position: relative;
        top: 35px;
    }

    p {
        position: relative;
        bottom: 35px;
    }

    .backButton,
    .notPrinted {
        display: none;
    }
}

@media print and (orientation: landscape) {
    body {
        height: 95vh;
    }

    img {
        height: 95%;
        width: auto;
    }

    h1 {
        width: 100%;
        text-align: center;
        position: relative;
        top: 35px;
    }
}
