body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 80vw;
  margin: 10px auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.header a {
  text-decoration: none;
}

.nav__upper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.nav_upper .upper__right {
  margin: 0 20px;
}

.nav__upper .upper__right a:any-link {
  color: green;
}

.nav__upper .upper__right .sign-in:hover {
  text-decoration: underline;
}

.nav__upper .get-started {
  border: 1px solid green;
  border-radius: 2px;
  padding: 5px 10px;
}

.nav__upper .upper__right .get-started:hover {
  color: white;
  background-color: green;
}

.nav__lower {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  padding: 5px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.nav__lower a {
  color: gray;
  margin: 0 10px;
  width: 100%;
  text-align: center;
}

.nav__lower a:hover {
  color: black;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: auto;
}

.content h1 {
  margin: 10px auto;
}

.content .main__img {
  margin: auto;
  height: 250px;
  width: 250px;
}

.grid {
  width: 70vw;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.grid a {
  text-decoration: none;
  color: black;
  font-weight: 600
}

.grid a:hover {
  color: rgb(100, 100, 100);
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer .footer__right a {
  margin: 0 5px;
}
