/* ===== Problem 1 ===== */

.rocket_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    /* Your code here */
}

/* Create rocket hover animation here*/
.rocket_svg:hover {
    transform: rotate(250deg);
    transition: transform 2s;
}

/* ===== Problem 2 ===== */

.astronaut_svg {
    height: 200px;
    width: auto;
    margin-left: 200px;
    /* Your code here */
}

/* Create astronaut hover animation here*/
.astronaut_svg:hover {
    transform: translate(100px, 0);
    transition: transform 2s;

}

/* ======= BONUS ======= */

.earth_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    /* Your animation here*/
    animation: 2s linear 0s infinite spin;
}

@keyframes spin {
    /* Set up your keyframe animation here*/
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
